body {
    background-color: #d5f8ff;
    font-family: Arial, sans-serif;
}

h1 {
    color: rgb(5, 129, 5);
    text-align: center;
    text-decoration-style: wavy;
}

p{
    color:brown;
}

h2{
    color: rgb(61, 61, 61);
    text-align: center;
}

img{
    width: 700px;
}